{%extends 'base.html'%}

{%block title%}
Setting new Budget
{%endblock%}

{%block content%}
<body class="text-center">
<div class="container">
<form method="POST" class="form-register" style="color:white">
    {{ form.hidden_tag() }}
    <img class="mb-4" width='200' src="https://thumbs.dreamstime.com/z/vegetables-shopping-cart-grocery-logo-icon-design-symbol-vector-illustrations-ingredients-pumpkin-garlic-potato-vegetarian-buy-157713074.jpg" alt="">
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Set New Budget</h1>
   <div >{{form.new_budget.label()}}</div>
    <div>{{form.new_budget(class="form-control",placeholder="Budget in Rs")}}</div>
    <br>
    {{form.submit(class="btn btn-lg btn-block btn-primary")}}
    <br>
    
</form>
</div>
</body>
{%endblock%}